/*******************************************
 GENERAL
******************************************/

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: red;
}

body {
	background-color: #ccffcc;
	font-family: 'Josefin Sans', sans-serif;
	color: #008000;

}

h1{
	font-size: 30px;
	color: #ffcc66;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}



/*******************************************
HEADER
******************************************/


.main-header {
	position: relative;
	background-color: #000000;
	padding: 5px;
	text-align: center;
}

.top-logo {
	width: 40px;
}



/*******************************************
SEC HEADER
******************************************/

.secondary-header {
	margin-bottom: 30px;
	text-align: center;

}

h1 {
	color: #A69C7B;
	font-size: 1.3em;
	font-weight: normal;
}



/*******************************************
SECTION
******************************************/

.wrapper {
	max-width: 760px;
	margin: 0 auto;
	padding: 40px 5% 40px 5%;
}
